/*============Form===========*/
.form {
	&-radiobox {
		display: flex;
		flex-wrap: wrap;
		&__item {
			margin-right: 4.140625vw;
			&:last-child {
				margin-right: 0;
			}
		}
		label {
			white-space: nowrap;
			cursor: pointer;
			span {
				&:first-child {
					display: inline-block;
					width: 1.171875vw;
					height: 1.171875vw;
					border-radius: 0.195vw;
					border: 1px solid $bl;
					margin-right: 9px;
					vertical-align: middle;
					position: relative;
					&:after {
						content: "";
						width: 0.586vw;
						height: 0.41vw;
						background: url("../images/check.svg") center no-repeat;
						background-size: contain;
						@include center-pos;
						opacity: 0;
						transition: all .2s linear;
					}
				}
				&:nth-child(2) {
					font-family: $ff;
					font-size: 0.9375vw;
					font-weight: 400;
					line-height: 1;
					color: $bl;
					vertical-align: middle;
				}
			}
		}
		input {
			display: none;
			&:checked + label {
				span {
					&:first-child {
						background-color: $yellow;
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&-select {
		select {
			//display: none;
		}
	}
}
/*============/form===========*/

/*========Jq-selectbox=======*/
.jq-selectbox {
	width: 100%;
	background-color: $wh;
	position: relative;
	z-index: 10;
	&:before {
		content: "";
		width: 0.625vw;
		height: 0.625vw;
		background: url("../images/plus.svg") center no-repeat;
		position: absolute;
		top: 20%;
		right: 5px;
		z-index: 1;
		transition: all .3s linear;
		pointer-events: none;
	}
	&.dropdown {
		&:before {
			transform: rotate(45deg);
		}
		.jq-selectbox__select {
			border-radius: 0;
		}
		.disabled  {
			display: none;
		}
	}
	&__select {
		cursor: pointer;
		width: 100%;
		background-color: $wh;
		padding: 0 25px 0.742188vw 0;
		background-color: $wh;
		border-bottom: 2px solid $bl;
		border-radius: 0;
		font-family: $ff;
		font-size: $fz-text;
		font-weight: 400;
		color: $bl;
		line-height: 1.4;
		appearance: none;
		&:disabled {
			background-color: $wh;
		}
		&-text {
			max-width: 100%;
			&.placeholder {
				color: #999999;
			}
		}
	}
	&__dropdown {
		top: 100%!important;
		width: 100%;
		background-color: $wh;
		border-radius: 0px;
		border: 1px solid $bl;
		border-top: none;
		-ms-overflow-style: none;
      	scrollbar-width: none;
      	::-webkit-scrollbar {
	      width: 0;
	      height: 0;
		}
		li {
			cursor: pointer;
			padding: 0.46875vw 0.703125vw;
			font-family: $ff;
			font-size: 0.9375vw;
			font-weight: 400;
			color: $bl;
			line-height:1.4;
			border-bottom: 1px solid $bl;
			transition: all .2s linear;
			position: relative;
			z-index: 1;
			&:last-child {
				border-bottom: none;
			}
			&:after {
				content: "";
				width: 100%;
				height: 0%;
				background-color: $yellow;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: -1;
				transition: all .2s linear;
			}
			&:hover {
				&:after {
					height: 100%;
				}
			}
		}
	}
}
/*========/jq-selectbox=======*/

/*=============Adaptive===========*/
@media(max-width: 1180px) {
	.form {
		&-radiobox {
			label {
				span {
					&:first-child {
						width: 24px;
						height: 24px;
						border-radius: 5px;
						&:after {
							width: 12px;
							height: 8.5px;
						}
					}
					&:nth-child(2) {
						font-size: 18px;
					}
				}
			}
		}
	}
	.jq-selectbox {
		&:before {
			width: 16px;
			height: 16px;
		}
		&__select {
			padding-bottom: 15px;
			&-text {
				font-size: 20px;
			}
		}
		&__dropdown {
			li {
				font-size: 20px;
				padding: 10px;
			}
		}
	}
}
/*=============/adaptive===========*/